      <!-- ユーザーの詳細 -->
      <table class='table border rounded m-5', style="text-align: center">
        <tr>
          <th style="width: 150px;">
            <%= image_tag @customer.get_profile_image(100, 100) %>
            <h4>ユーザー名</h4>
            <p><%= @customer.name %></p>
          </th>
        </tr>
      </table>
