<!--中央よせ-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>-->

      <!-- ユーザーの詳細 -->
      <table class='table border rounded m-5', style="text-align: center">
        <tr>
          <th style="width: 150px;">
            <%= image_tag @customer.get_profile_image(100, 100) %>
            <h4>ユーザー名</h4>
            <p><%= @customer.name %></p>
          </th>
          <th style="width: 150px;">


          </th>
        </tr>
      </table>

      
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
