<table class='table'>
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ユーザーネーム</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
      <tr>
        
        <td>
          <%= link_to customer do %>
            <%= image_tag customer.get_profile_image(100,100) %>
          <% end %>
        </td>
        
        <td><%= customer.name %></td>
        <!--ゲストユーザー-->
        <% if current_customer.guest_customer? %>
        <% else %>
        <td><%= render "public/relationships/btn", customer: customer %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>