<h2 style="text-align: center; margin: 30px 0 30px 0;">フォロワー</h2>
<% if @customers.exists? %>
  <%= render "public/customers/index", customers: @customers %>
<% else %>
  <h4 style="text-align: center; margin: 30px 0 30px 0;">ユーザーはいません</h4>
<% end %>