<h2 style="text-align: center; margin: 30px 0 30px 0;">フォローしているユーザー</h2>
<% if @customers.exists? %>
  <%= render "public/relationships/index", customers: @customers %>
<% else %>
  <h4 style="text-align: center; margin: 30px 0 30px 0;">ユーザーはいません</h4>
<% end %>