 <% if post_image.favorited_by?(current_customer) %>
    <p>
      <%= link_to post_image_favorites_path(post_image), method: :delete, remote: true do %>
        ♥<%= post_image.favorites.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_image_favorites_path(post_image), method: :post, remote: true do %>
        ♡<%= post_image.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>