<!--ゲスト-->
<% if current_customer.guest_customer? %>
<% else %>

    <!--通常のユーザー-->
    <div class="mt-5"style="text-align: center">
    <%= form_with model: [post_image, post_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントする", class: "w-100" %>
      <%= f.submit "送信", style: "width: 100px;" %>
    <% end %>
    </div>

<% end %>