<footer class="mx-auto"style="width: 100%;">
  <!--ヘッダーを設定-->
  <div class='container mt-5 AnnouncementPopup_hiddenWrapper_ThDWT' style="border-top: 2px solid darkgray;">
  	<div class='row'>
    	<div class='mx-auto'>
    		<p class="mt-3">CopyRight 2023 TravelShare inc</p>
    	</div>
    </div>
  </div>
</footer>